body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Outfit;
}

.box{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 480px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.qr-code{
    display: flex;
    max-height: 288px;
    margin: 05px;
}

.image-qr-code{
    height: 100%;
    border-radius: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 270px;
    text-align: center;
    margin: 10px;
}

.title{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-top: 5px;
    font-size: 22px;
}

.sub-title{
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
    color: hsl(220, 15%, 55%);
    padding-inline: 10px;
}

.attribution{
    display: block;
    font-size: 11px; 
    text-align: center;
    margin: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}